.vscode/
.idea/
/**/node_modules

.npmrc

/storybook-static

# Turborepo
.turbo

# Build artifacts
**/build/**
**/dist/**

# Jest
.jest-coverage
.jest-cache

# Design system storybook build
/docs

# asdf version manager
.tool-versions
